.header-wrap {
	height: 30px;
	background: #eaeaea;
}

.header {
	width: 1200px;
	height: 30px;
	/* background: pink; */
	margin: 0 auto;
	line-height: 30px;
}

.header .list-left {
	float: left;
}

.header .list-left li {
	float: left;
}

.header .list-left li a {
	display: block;
}

.header .list-left .line {
	float: left;
	width: 1px;
	height: 16px;
	background: #b3aeae;
	margin-top: 7px;
	margin-right: 5px;
}

.header .list-right {
	float: right;
}
.header .list-right li{
	float:left;
	background: pink;
	padding: 0 5px;
}
.header .list-right li a{
	float:left;
}
.header .list-right li a i{
	float:left;
	margin-right: 5px;
}
.header .list-right li a span{
	float:left;
	
}
.header .list-right li em{
	float:left;
	margin-left: 7px;
}
.logoAndSearch {
	width: 1200px;
	height: 106px;
	/* background: pink; */
	margin: 0 auto;
}

.logoAndSearch .logo {
	float: left;
	margin: 25px 0 0 45px;
	height: 56px;
	/* 第一种 */
	/* overflow: hidden; */
}

/* 第一种:插入图 */
.logoAndSearch .logo a {
	display: block;
	text-indent: -9999px;
}

/* 第二种:背景图 */
.logoAndSearch .logo a {
	background: url(../img/Logo.png) no-repeat 0 0;
	display: block;
	width: 175px;
	height: 56px;
	text-indent: -9999px;
}

.logoAndSearch-center {
	/* width: 560px;
	height: 100px;
	background: yellow; */
	float: left;
	margin: 10px 0 0 35px;
}

.logoAndSearch-center .baby li {
	float: left;
	width: 36px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #ea4a36;
	/* cup tab键 */
	cursor: pointer;
	/* 相对定位 */
	position: relative;
}

.logoAndSearch-center .baby li img {
	/* 绝对定位 */
	position: absolute;
	left: 20px;
	top: -20px;
}

.logoAndSearch-center .baby li:hover {
	background: #FFEEE5;
}

.logoAndSearch .logoAndSearch-center .baby .current {
	font-weight: 700;
	color: #fff;
	/* 第一种:提权 */
	/* background: #ea4a36 !important; */
	background: #ea4a36;
}

.logoAndSearch-center .sub .txt {
	width: 477px;
	height: 28px;
	border: 2px solid #ea4a36;
	border-right: none;
	float: left;
	background: url(../img/fang.png) no-repeat 15px center;
	padding-left: 10px;
	/* 圆角属性 */
	/* 左上  右上  右下  左下 */
	border-radius: 20px 0 0 20px;
}

.logoAndSearch-center .sub .btn {
	float: left;
	width: 70px;
	height: 32px;
	background: #ea4a36;
	color: #fff;
	border-radius: 0 20px 20px 0;
}

.logoAndSearch-center .shopping {
	margin-top: 8px;
}

.logoAndSearch-center .shopping li {
	float: left;
	margin-right: 5px;

}
