/* 全局样式设置 start */
body {
    font-family: "PingFang SC", "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #dd302d;
}

.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    clear:both;
}

.clearfix::after {
    content: "";
    display: block;
    clear:both;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
}
/* 全局样式设置 end */

/* topbar start */
.topbar {
    min-width: 1190px;
    height: 30px;
    line-height: 30px;
    background: #ececec;
}

.topbar-welcome a, .topbar-welcome span {
    float: left;
}

.topbar-welcome .sep {
    margin:9px 10px;
    width: 1px;
    height: 12px;
    background: #666;
}

.topbar-welcome .welcome-text {
    margin-right: 28px;
}

.topbar-nav li {
    float: left;
}

.topbar-nav .sep {
    margin: 9px 15px;
    width: 1px;
    height: 12px;
    background: #666;
}
/* topbar end */


/* page-header  logo和搜索框 start */
.page-header {
    height: 120px;
}

.logo {
    width: 190px;
    height: 120px;
}

.search-box {
    margin-top: 42px;
    font-size: 0;
}

.search-box input {
    padding: 0 5px;
    width: 498px;
    height: 34px;
    vertical-align: middle;
    border: 1px solid #DD302D;
}

.search-box button {
    width: 80px;
    height: 36px;
    vertical-align: middle;
    border: none;
    background: #DD302D url(../images/serch_icon.png) no-repeat center;
}
/* page-header  logo和搜索框 end */

/* page-nav start */
.page-nav {
    min-width: 1190px;
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #DD302D;
}

.all-cates {
    width: 190px;
    color: #fff;
    text-align: center;
    background: #DD302D;
}

.all-cates h3 {
    font-size: 16px;
}

.nav-list li {
    float: left;
    padding: 0 10px;
    font-size: 16px;
}
/* page-nav end */


/* page-section 商品分类 banner图 新闻列表 图标列表 start  */
.page-section {
    margin-top: 10px;
}   

    /* 商品分类 */
.menus {
    position: relative;
    width: 190px;
    height: 458px;
    background: #f4f4f4;
}

.menus ul {
    padding-top: 4px;
}

.menu-item {
    padding-left: 16px;
    font-size: 14px;
    line-height: 28px;
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 10px 0;
    width: 698px;
    min-height: 436px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.menu-item:hover .submenu{
    display: block;
}

.submenu dl {
    margin-top: 8px;
    line-height: 20px;
}

.submenu dl::after {
    content: "";
    display: block;
    clear:both;
}

.submenu dt {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    width: 70px;
}

.submenu dd {
    float: left;
    width: 560px;
}

.submenu dd a {
    float: left;
    margin-bottom: 4px;
    padding: 0 10px;
    border-left: 1px solid #999;
}
    /* banner */
.banner {
    margin-left: 10px;
    width: 690px;
    height: 458px;
}
    /* section-right */
.section-right {
    width: 290px;
    height: 458px;
}

.news {
    height: 156px;
    padding: 0 14px;
    border: 1px solid #d9d9d9;
}

.news-title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d9d9d9;
}

.news-title h3 {
    font-size: 14px;
}

.news-list li {
    line-height: 26px;
}

.icons {
    height: 290px;
}

.icons li {
    float: left;
    width: 72.5px;
    height: 96px;
}

.icon-img {
    display: block;
    margin: 12px auto 0;
    width: 48px;
    height: 48px;
    background-image: url(../images/icon_list.png);
}

.icon-text {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
}
/* page-section 商品分类 banner图 新闻列表 图标列表 end  */