.box {
  width: 600px;
  color: #080;
  background: #900;
  border: 1px solid #080;
  background-position: 10px 10px;
}
.item {
  width: 600px;
  height: 300px;
}
@media (min-width:768px) {
  .container {
    width: 100%;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
.news li {
  width: 100px;
}
