body {
  background: #eff0f4;
}
html,
body {
  height: 3000px;
}
html {
  font-size: 5.33332vw;
}
body {
  padding: 0 0.75rem;
}
header {
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header i {
  color: #999;
  font-size: 1rem;
}
header span {
  color: #24253d;
  font-size: 1.25rem;
}
header em {
  color: #656565;
  font-size: 1rem;
}
.banner ul li a img {
  width: 100%;
}
.list01 {
  height: 6.1rem;
  margin-top: 1rem;
}
.list01 ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.list01 ul li {
  width: 8.175rem;
  height: 2.6rem;
  background: pink;
  border-radius: 10px;
}
.list01 ul li a {
  display: block;
  height: 100%;
  line-height: 2.6rem;
  border-radius: 0.325rem;
  background-image: linear-gradient(to left, #f97053 56%, #f47866 100%);
  box-shadow: 0px 5px 8px 0px rgba(187, 187, 187, 0.42);
  text-decoration: none;
  color: #fff;
}
.list01 ul li a i {
  margin-left: 0.9rem;
  margin-right: 0.625rem;
}
.list01 ul li a span {
  font-size: 0.75rem;
}
.list01 ul li:nth-of-type(2) a {
  background-image: linear-gradient(to left, #c657ff 56%, #d484fd 100%);
}
.list01 ul li:nth-of-type(3) a {
  background-image: linear-gradient(to left, #ff3971 56%, #fe497c 100%);
}
.list01 ul li:nth-of-type(4) a {
  background-image: linear-gradient(to left, #1d92ff 56%, #1bc9fb 100%);
}
.tit {
  height: 2.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tit h3 {
  border-left: 0.075rem solid #3a84ff;
  padding-left: 0.425rem;
  color: #24253d;
  font-size: 0.825rem;
}
.tit a {
  font-size: 0.7rem;
  color: #656565;
  text-decoration: none;
}
.list02 {
  height: 8.075rem;
  overflow: scroll;
  background: pink;
}
.list02 ul {
  width: 52.075rem;
  height: 8.075rem;
  display: flex;
  justify-content: space-between;
  background: yellow;
}
.list02 ul li {
  width: 8.2rem;
  height: 8.075rem;
  border-radius: 0.325rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 11px 0px rgba(182, 182, 182, 0.23);
}
.test {
  width: 200px;
  height: 200px;
  background: pink;
  white-space: nowrap;
  overflow: scroll;
}
